@{

}
@model BooksViewModel
<h1>Books, Books, Books!</h1>


@foreach (Books p in Model.Books)
{
    <partial name="BookSummary" model="p" />
}
<div page-models="@Model.Pageinfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>