@page
@model Mission09_parkersm.Pages.ConfirmationPageModel
@{
}

<div class="text-center">
    <h1>Your Book Order Has Been Submitted!</h1>
    <h3>Thank you!</h3>
    <a class="btn btn-primary" asp-controller="Home">Home</a>
</div>